.products {
  padding-top: 120px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  font-size: 24px;
  line-height: 32px;
  padding:0 0 94px 0;
  margin: 0;
}
.productList li {

  display: inline-block;
  margin: 15px;
  width: 370px;
}
.imageConteiner{
  width: 370px;
  height: 300px;
  overflow: hidden;
}
.productList li a {
  text-decoration: none;
}

.addBtn {
  font-size: 10px;
}
