.products h2 {
  margin-bottom: 35px;
}
.productList {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  font-size: 24px;
  line-height: 32px;
  padding: 0 0 94px 0;
  margin: 0 -15px;

  @media screen and (min-width: 818px) {
    justify-content: flex-start;
  }
}
.productList li {
  display: inline-block;
  box-sizing: border-box;
  margin: 15px;
  width: 350px;
  border: 1px solid #eeeeee;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 818px) {
    width: 236px;
  }
  @media screen and (min-width: 1251px) {
    width: 276px;
  }
}
.productList li:hover,
.productList li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.imageConteiner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-image: linear-gradient(rgba(47,48,58,0.1), rgba(47,48,58,0.1)),url(./bgImg_2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.textBlock {
  flex-grow: 1;
  padding: 20px 24px;
}
.productList li a {
  text-decoration: none;
}
.productList li h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.productList li .price {
  color: #212121;
  margin-bottom: 15px;
  font-size: 16px;
}
.productList li p {
  font-size: 14px;
  line-height: 1.4;
  color: #757575;
  margin-bottom: 10px;
}
.addBtn {
  font-size: 10px;
}
