.header {
  background-color: #2f303a;
  box-shadow: 0 4px 10px hsl(200deg 3% 44% / 60%);
  @media screen and (min-width: 768px) {
    padding-top: 7px;
  }
}

.containerHeaderFlex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.iconContainer {
  display: flex;
  align-items: center;
}
.logo {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.phoneNumber {
  background-color: #c7181b;
  border-radius: 20px;
  padding: 0 10px;
  color: #fff;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.phoneNumberLink {
  font-size: 21px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 5px;

  font-style: normal;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1200px) {
    font-size: 21px;
    line-height: 1.71;
  }
}
.boorgerButton {
  background-color: inherit;
  line-height: 0;
  box-shadow: none;
  position: relative;
  z-index: 2;

  
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.boorgerButton:hover,
.boorgerButton:focus {
  background-color: inherit;
}