.socialNetwork {
  fill: #fff;
  width: 22px;
}
.boorger {
  fill: #fff;
  width: 42px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.logoMinHeader {
  width: 73px;
  display: none;
  @media screen and (min-width: 768px) {
    display: initial;
  }
}
.logoMinFooter {
  width: 147px;
}
